<html>
  <%= stylesheet_link_tag "show_matches" %>
  <body>
    <div id="logo">
      <img src="/images/logo.png">
    </div>
    <div id="steps">
      <img src="/images/step1.png">
      <img src="/images/step2.png">
      <img src="/images/step3.png">
    </div>
    <div id="select-box">
      <div id="all-friends-box">
	<%= form_tag({:action => :submit_matches}) do %>
	<% for friend in @user.friends %>
	<div class="friend-box">
          <img src="<%= friend.square_pic %>">
          <span class="friend-name"><%= friend.name %></span>
	</div>
	<% end %>
	<%= submit_tag("Submit") %>
	<% end %>
      </div>
      <div id="matches-box">
      </div>
    </div>
  </body>
</html>
