<% content_for :head do %>
<%= stylesheet_link_tag "show_matches" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
<% end %>
<div id="content">
  <div id="titlebar">
    <div id="settings_buttons_menu_toggle">
      <a href="#" class="show_hide"><img src="http://slingalink.com/img/gear.png" alt="Expand Settings"></a>
    </div>
    <div id="title">
      <p>StretchList</p>
    </div>	
  </div>
  
  <div class="top_nav">
    <div id="fb_logout">
      <a href="http://www.facebook.com/logout.php" id="facebook-logout"><img src="images/facebook_icon24.png" alt="Facebook logout" /></a>	
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/globe_3_icon24.png" alt="Location Sort"></a>
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/clock_icon24.png" alt="Recent Sort"></a>
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/chart_line_2_icon24.png" alt="Analytics"></a>
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/fire_icon24.png" alt="Recommendations"></a>
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/calendar_2_icon24.png" alt="Date Sort"></a>
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/home_icon24.png" alt="Home"></a>
    </div>
    <div class="settings_buttons">
      <a href="#"><img src="images/link_icon24.png" alt="Connect"></a>	
    </div>
    
  </div>

  <p><a href="http://www.facebook.com/logout.php" id="facebook-logout"><img src="/images/facebookLogOutButton.png" alt="Facebook logout" /></a></p>
  <%= form_tag({:action => :show_matches}) do %>
  <p><%= select_tag(:interested_in_id, options_from_collection_for_select(Gender.sexual_orientations, :id, :gender, @current_orientation)) %></p>
  <p><%= submit_tag("Change orientation") %></p>
  <% end %>


  <div id="matches-box" class="rounded-corners">
    <%= form_tag({:action => :submit_list}) do %>
      <div id="matches-box-content">
        <% for friend in @current_list %>
    	  <div class="a-match rounded-corners">
	    <img src="<%= friend.square_pic %>" alt="A friends picture" />
	    <span class="friend-name"><%= friend.name %></span>
	    <input type="hidden" name="ids[]" value="<%= friend.id %>" />
	  </div>
	<% end %>
      </div>
      <p><%= submit_tag("Create List") %></p>
    <% end %>
  </div>
  <div id="select-box">
    <div id="all-friends-box" class="rounded-corners">
      <% for friend in @potential_matches %>
      <div class="friend-box rounded-corners" id="friend_<%= friend.id %>">
	<img src="<%= friend.square_pic %>" alt="A friends picture" />
	<span class="friend-info">
	  <span class="friend-name"><%= friend.name %></span><br/><%= friend.location %><br/><%= friend.age %>, <%= friend.gender %>, <%= friend.relationship_status %>
	</span>
      </div>
      <% end %>
    </div>

  </div>
</div>
<script type="text/javascript">
$(".settings_buttons img").fadeTo("fast", 0.3);
$(".settings_buttons img").hover(
    function(){
	$(this).fadeTo("fast", 0.9); 
    },
    function(){
	$(this).fadeTo("slow", 0.3); 
    }
);

$(".top_nav").hide();
$(".show_hide").show();
$('.show_hide').click(function(){
    $(".top_nav").slideToggle();
});

$('.friend-box').bind('click', function(event) {
    var image = event.currentTarget.children[0].src;
    var id = event.currentTarget.id;
    var name = event.currentTarget.children[1].firstChild.data;
    $('#matches-box-content')[0].innerHTML += '<div class="a-match rounded-corners"><img src="' + image +'" alt="A friends picture" /><span class="friend-name">'+ name +'</span><input type="hidden" name="ids[]" value="' + id + '" /></div>';
});

$('.a-match').bind('click', function(event) {
    $(this).remove();
});

</script>
